.arrayContainer {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 0%;
  position: relative;
  height: 100%;
}

.arrayBar {
  display: inline-block;
  background-color: #7a5af5;
  margin: 0 1px;
  flex-grow: 1;
  display: flex;
}
